{% extends 'homebase.html' %} 
    {% block content %}
    {% if messages %}
    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
    <h1>PRODUCTS</h1>
        <div class="row">
            {% for product in products%}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{product.image_url}}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">KSH {{product.price}}</p> 
                    <a href="#" class="btn btn-primary">ORDER</a>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock %}
</div>
